<launch>
 <!-- Options -->
    <arg name="cam"/>
    <arg name="DEVICE" default="/dev/video$(arg cam)"/>
    <arg name="NAME"   value="cf/cam" />
    <arg name="VIEW"   default="true"/>
    <arg name="RECT"   default="false"/>
    <arg name="FRAME"  default="cam"/>
    
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" required="true" output="screen" >
        <param name="video_device" value="$(arg DEVICE)" />
        <param name="image_width" value="720" />
        <param name="image_height" value="576" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="$(arg FRAME)" />
        <param name="io_method" value="mmap"/>   
        <!-- remap from="/usb_cam/" to="/cf/cam/" -->     
    </node>


    <!-- Rectify -->
    <group if="$(arg RECT)">
        <node pkg="image_proc" type="image_proc" name="cfcam_image_proc" ns="$(arg NAME)" />
    </group>


    <!-- Image View -->
    <group if="$(arg VIEW)">
        <node pkg="image_view" type="image_view" name="cfcam_view_raw" >
            <remap from="image" to="/$(arg NAME)/image_raw" />
        </node>
        <group if="$(arg RECT)">
            <node pkg="image_view" type="image_view" name="cfcam_view_rect" >
               <remap from="image" to="/$(arg NAME)/image_rect_color" />
            </node>
        </group>
    </group>


    <!-- Publish Transform -->
    <node name="cam_transform" pkg="tf" type="static_transform_publisher" args="0 0 0 1.57 3.14 1.57 /cf_q $(arg FRAME) 10"/>
    
</launch>
