<launch>
    <!-- Options -->
    <arg name="cam"/>
    <arg name="DEVICE" default="/dev/video$(arg cam)"/>
    <arg name="FPS"    default="25/1"/>
    <arg name="NAME"   value="cf/cam" />
    <arg name="VIEW"   default="true"/>
    <arg name="RECT"   default="false"/>
    <arg name="FRAME"  default="cam"/>


    <!-- GS CAM -->
    <env name="GSCAM_CONFIG" value="v4l2src device=$(arg DEVICE) ! video/x-raw-yuv,format=\(fourcc\)YUY2,width=720,height=576,framerate=$(arg FPS) ! ffmpegcolorspace " />
    <node pkg="gscam" type="gscam" name="gscam">
        <param name="camera_name" value="$(arg NAME)" />
        <param name="camera_info_url" value="package://gscam/examples/uncalibrated_parameters.ini" />
        <param name="frame_id" value="cf/cam"/>
        <param name="sync_sink" value="true"/>
        <remap from="camera/image_raw" to="$(arg NAME)/image_raw" />
    </node>


    <!-- Rectify -->
    <group if="$(arg RECT)">
        <node pkg="image_proc" type="image_proc" name="cfcam_image_proc" ns="$(arg NAME)" />
    </group>


    <!-- Image View -->
    <group if="$(arg VIEW)">
        <node pkg="image_view" type="image_view" name="cfcam_view_raw" >
            <remap from="image" to="/$(arg NAME)/image_raw" />
        </node>
        <group if="$(arg RECT)">
            <node pkg="image_view" type="image_view" name="cfcam_view_rect" >
               <remap from="image" to="/$(arg NAME)/image_rect_color" />
            </node>
        </group>
    </group>


    <!-- Publish Transform -->
    <node name="cam_transform" pkg="tf" type="static_transform_publisher" args="0 0 0 1.57 3.14 1.57 /cf_q $(arg FRAME) 10"/>




</launch>
