<launch>
    <!-- Options -->

	<arg name="f"    default="0"/>
	<arg name="k"    default="1"/>


	<node pkg="tf" type="static_transform_publisher" name="W2Q_tf" args="0 0 0 0 0 0 1 /world  /Qualisys 10" output="screen"/>
	<node pkg="tf" type="static_transform_publisher" name="Q2F_tf" args="0 0 0 0 0 0 1 /Q$(arg f) /cf_gt 10" output="screen" />
	<!--node pkg="tf" type="static_transform_publisher" name="Q2K_tf" args="0 0 0 0 0 0 1 /Q$(arg k) /camera_link 10" output="screen" / -->
	<node pkg="Qualisys2Ros" type="Qualisys2Ros" name="Qualisys2Ros" output="screen"/>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find crazyflieROS)/kinect.rviz"/>



</launch>
